# If required for model access
HF_TOKEN=

# Default model repo used by many Moshi quickstart examples
MOSHI_HF_REPO=kyutai/moshiko-pytorch-bf16

MOSHI_HOST=0.0.0.0
MOSHI_PORT=8000

# Example: --gradio-tunnel
MOSHI_EXTRA_ARGS=
